<ion-content padding>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide class="slide_img">
      <img src="assets/images/celular.png" alt="" img-align="center">
      <div class="texto">
        <strong><br><br><br><br><br><br><br><br><br><br><br><br><br>Meu App Fantástico!</strong>
          <p>Este meu App terá funções incríveis.
          Ele foi feito para impressionar você.
        <p>
          Ficou curioso? Veja mais!
        </p>
      </div>
    </ion-slide>

    <ion-slide class="slide_img">
      <img src="assets/images/papeis.png" alt="">
      <div>
        <strong><br><br><br><br><br><br><br><br><br><br><br><br>Cheio de possibilidades</strong>
        <p>Aqui você encontra tudo o que sempre quis em um App</p>
      </div>
    </ion-slide>


    <ion-slide class="slide_img">
      <img src="assets/images/balao.png" alt="">
      <div>
        <strong><br><br><br><br><br><br><br><br><br><br><br><br>Vamos começar!</strong>
      <p><a href="../tabs/tab1"><P position=center>Continuar</a>
      </div>
      </ion-slide>
  </ion-slides>


</ion-content>